.appWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 245, 247);
}

.appWrapper h2 {
  font-size: 30px;
}

.App {
  min-height: 290px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 10px 16px 18px 16px;
}

.task-manager {
  display: flex;
  gap: 6px;
  justify-content: center;
  width: 100%;
  max-width: 340px;
}

.task-manager input {
  height: 40px;
  flex: 1;
  min-width: 0;
  border: 1px solid rgba(228, 228, 231, 1);
  border-radius: 6px;
  padding-left: 20px;
}

.task-manager button {
  height: 40px;
  width: 60px;
  border: none;
  border-radius: 6px;
  color: white;
  background: rgba(60, 130, 246, 1);
}

.filters {
  width: 100%;
  display: flex;
  gap: 8px;
  margin-top: 20px;
  margin-left: 40px;
  justify-content: flex-start;
}

.filters button {
  height: 32px;
  padding: 4px 12px;
  border: none;
  border-radius: 6px;
}

.noTask {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 14px;
  color: rgba(107, 114, 128, 1);
}

#tasks {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 40px;
  gap: 10px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fafb;
  height: 30px;
  width: 310px;
  padding: 14px;
  border-radius: 8px;
}

.taskuud {
  display: flex;
  gap: 10px;
}

.task {
  display: flex;
  align-items: center;
  font-size: 14px;
}

footer {
  display: flex;
  font-size: 12px;
  font-weight: 400;
}

.p1 {
  color: rgba(107, 114, 128, 1);
}

.p2 {
  color: rgba(59, 115, 237, 1);
}

.deleteOne {
  height: 30px;
  width: 70px;
  background-color: rgb(254, 242, 242);
  color: red;
  border: none;
  border-radius: 6px;
}
