#app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #ffdcdc;
}

#card {
  border-radius: 8px;
  padding: 24px 16px;
  margin-top: 60px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
  background-color: #fff2eb;
  width: 320px;
}

#card h1 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

#task-manager {
  display: flex;
  gap: 6px;
}

#task-manager input {
  border-radius: 6px;
  border: 1px solid #e4e4e7;
  padding: 12px 16px;
  width: 100%;
}

#task-manager button {
  background-color: #ffd6ba;
  padding: 12px 16px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  width: 59px;
}

#filter {
  margin: 20px 0;
  display: flex;
  gap: 6px;
}

#filter button {
  color: #363636;
  background-color: #e5e7eb;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-size: 12px;
}

#no-task {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
  text-align: center;
  padding: 12px 40px;
}

#tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  background-color: #fff2eb;
  display: flex;
  gap: 10px;
  padding: 16px;
  align-items: center;
}

.task p {
  width: 180px;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 14px;
}

.task button {
  padding: 0 12px;
  border: none;
  background-color: #ffdcdc;
  color: #ef4444;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  font-weight: 500;
  border-radius: 6px;
}

#summary {
  border-top: 1px solid #f9fafb;
  padding-top: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #6b7280;
  font-weight: 500;
  margin-bottom: 40px;
}

#summary button {
  border: none;
  background-color: #fff2eb;
  color: #ef4444;
  cursor: pointer;
}

#footer-text {
  font-size: 12px;
  text-align: center;
}

#footer-text a {
  text-decoration: none;
  color: #3b73ed;
}
