.appWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 290px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  width: 377px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding: 24px 16px;
}

.main {
  display: flex;
  gap: 6px;
}

.main input {
  height: 40px;
  width: 280px;
  padding-left: 20px;
}

.main button {
  height: 40px;
  width: 59px;
  border: none;
  border-radius: 6px;
  gap: 10px;
  color: white;
  background: rgba(60, 130, 246, 1);
}

footer {
  display: flex;
  font-size: 12px;
  font-weight: 400;
}

.p1 {
  color: rgba(107, 114, 128, 1);
}

.p2 {
  color: rgba(59, 115, 237, 1);
}
